.calculator{
  display: flex;
  background: white;
  font-family: sans-serif;
}

#canvas{
  background: gainsboro;
}

.mathinputs{
  display: flex;
  flex-direction: column;
}

.mq-root-block{
  min-width: 50px;
}
