
.calculator{
  position: relative;
  display: flex;
  margin: 0 auto;
  font-family: sans-serif;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
}

.content{
  display: flex;
  flex-direction: column;
}

.heading{
  text-align: center;
  margin: 10px;
}

button{
  border: none;
  margin: 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 10px;
  height: 20px;
}

button:hover {
  background: rgb(248, 170, 43);
}

.hidden{
  display: none;
}

#canvas{
  margin: 10px;
  background: gainsboro;
}

.mathinputs{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.graphfunctions{
  display: flex;
  margin: 0 auto;
}

.graphreset{
  display: flex;
  flex-direction: column;
}

.numPoints {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100px;
}

.unitTicks {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.numPoints label{
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-right: 10px;
}

.unitTicks label{
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-right: 10px;
}

.minmax {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.minmax label{
  width: 50px;
}
.bounds input{
  width: 50px;
  text-align: center;
}

.xmin {
  display: flex;
  margin-bottom: 10px;
}

.xmax {
  display: flex;
  margin-bottom: 10px;
}
.ymin {
  display: flex;
  margin-bottom: 10px;
}
.ymax {
  display: flex;
  margin-bottom: 10px;
}

.coordinate input{
  border: none;
  background: whitesmoke;
}

.bounds{
  display: flex;
  flex-direction: column;
}

.mousecoordinate{
  margin-bottom: 10px ;
}

.integral{
  margin-bottom: 10px;
}

.area input{
  border: none;
}

.footer{
  margin: 0 auto;
  display: flex;
}

.footer button{
  width: 150px;
  height:
}

.footer ul{
  display: flex;
  list-style: none;
  font-size: 25px;
}

.footer ul a{
  margin-right: 10px;
  text-decoration: none;
}

#modal{
  position: absolute;
  background-color: white;
  width: 300px;
  height: 300px;
}
